h1 {
    margin: 40px 0 50px 0;
}

.table tbody td {
    padding: 40px 0;
}

.form-control--small {
    width: 30%;
}

button {
    margin: 40px 10px 0 0;
}

.table th {
    padding-left: 0;
}
sup {
    top: -7px;
    right: 0;
    font-size: 50%;
}